//******
.title-animation {
  animation: slideAndFade 5s infinite, fadeOpacity 1s infinite alternate;
}

@keyframes slideAndFade {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(50%);
  }
}

@keyframes fadeOpacity {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.2;
  }
}